@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans";
}

.text-center {
    font-size: 1rem;
}

/* Estilos para títulos y colores principales */
.titulo {
    color: #CC5147;
    font-weight: bold;
    font-family: "Merriweather";
    font-size: 40px;
}

.logo {
    height: 3rem;
}

/* Navbar */
.navbar {
    background-color: #F4F1DE;
}

.navbar .nav-link {
    color: #24272B;
}

.navbar .nav-link.active {
    color: #CC5147;
    font-weight: 500;
}

.navbar-cart-icon i {
    color: #24272B;
}

/* Botones y bordes */
.btn-lg,
.button-form {
    background-color: #CC5147;
    color: #F4F1DE;
    border: #CC5147;
}

.borde,
.borde-prueba {
    border-color: #CC5147;
}

.borde-prueba {
    background-color: #CC5147;
}

.relleno {
    background-color: #CC5147;
    color: #F4F1DE;
}

/* Estilos responsive */
@media (max-width: 991.98px) {
    .btn-outline-light {
        margin-bottom: 1rem;
    }

    .navbar .d-flex {
        margin-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .btn-outline-light {
        margin: 0 1rem;
    }

    .borde {
        margin-left: 1rem;
    }
}

/* Efecto de Parallax */
.col-12 {
    transition: 500ms;
    filter: drop-shadow(0 4px 10px #131313);
}

.col-12:hover {
    transform: scale(1.1);
}

/* Animaciones */
.fade-in {
    opacity: 0;
    animation: fadeInEffect 0.15s ease-in forwards;
}

.fade-out {
    animation: fadeOutEffect 0.1s ease-out forwards;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOutEffect {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* INDEX - IMÁGENES */
.contenedor1 {
    width: 100%;
    margin: 0 auto;
}
@media (min-width: 1200px) {
    .contenedor1 {
        max-width: 1000px;
    }
}

/*  SECION PRODUCTOS */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card {
    flex: 1 1 22rem;
    max-width: 22rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card .card-img-top {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 20px;
}

/* SECCIÓN CONTACTO */
#successModal .modal-content {
    background-color: #d4eddae1;
    color: #26833c;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}

#successModal .modal-title {
    font-weight: bold;
    font-size: 1.5rem;
}

#successModal .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
}

#successModal .btn-close {
    color: #155724;
    position: absolute;
    right: 20px;
    top: 15px;
}

/* SECCIÓN DETALLE DEL PRODUCTO */
#productDetailContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.product-detail-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.product-detail-card .product-detail-img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
}

.product-detail-card-body {
    padding: 20px;
}

/* pantallas medianas y grandes */
@media (min-width: 768px) {
    .product-detail-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
    }

    .product-detail-card .product-detail-img {
        width: 50%;
        max-height: 500px;
        object-fit: contain;
        margin: auto;
        border-right: 1px solid #ddd;
    }

    .product-detail-card-body {
        width: 50%;
        padding: 20px;
    }
}

/* Opciones de color */
.color-option-container {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.color-option-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    display: inline-block;
    transition: border 0.2s ease;
}

.color-option-circle.selected {
    border-color: #000;
    border-width: 2px;
}
