@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans";
}

.text-center {
    font-size: 1rem;
}

/* Estilos para títulos y colores principales */
body {
    background-color: #fffef4;
}

main {
    min-height: calc(100vh - 200px);
    padding-bottom: 20px;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}

.titulo {
    color: #CC5147;
    font-weight: bolder;
    font-family: "Merriweather";
    font-size: 40px;
}

h2,
h3 {
    font-family: "Merriweather";
    font-weight: normal;
    font-size: 25px;
    color: #CC5147;

}

.logo {
    height: 3rem;
}

/* Navbar */
.navbar {
    background-color: #F4F1DE;
}

.navbar .nav-link {
    color: #24272B;
}

.navbar .nav-link.active {
    color: #CC5147;
    font-weight: 500;
}

.navbar-cart-icon i {
    color: #24272B;
}

/* Botones y bordes */
.btn-lg,
.button-form {
    background-color: #CC5147;
    color: #F4F1DE;
    border: #CC5147;
}

.borde,
.borde-prueba {
    border-color: #CC5147;
}

.borde-prueba {
    background-color: #CC5147;
}

.relleno {
    background-color: #CC5147;
    color: #F4F1DE;
}

/* Estilos responsive */
@media (max-width: 991.98px) {
    .btn-outline-light {
        margin-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .btn-outline-light {
        margin: 0 1rem;
    }

    .borde {
        margin-left: 1rem;
    }
}

/* Efecto de Parallax */
.agrandable {
    transition: 500ms;
    filter: drop-shadow(0 2px 5px #131313);
}

.agrandable:hover {
    transform: scale(1.1);
}

/* Animaciones */
.fade-in {
    opacity: 0;
    animation: fadeInEffect 0.15s ease-in forwards;
}

.fade-out {
    animation: fadeOutEffect 0.1s ease-out forwards;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOutEffect {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* INDEX - IMÁGENES */

.p-width{
    max-width: 1000px; 
    margin: 0 auto;
    text-align: center;
}

.contenedor1 {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .contenedor1 {
        max-width: 1000px;
    }
}



/*  SECION PRODUCTOS */
.bg-productos {
    background-image: linear-gradient(rgb(255 255 255 / 84%), rgb(176 166 166 / 57%)), url(../img/productos/bg-productos.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.card-footer .btn-primary {
    border-radius: 24px;
}

.card-footer .btn-secondary {
    background-color: #24272B;
    color: #f8f9fa;
    border-color: #24272B;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 24px;
}

.card-footer .btn-secondary:hover {
    background-color: #43464d;
    color: #ffffff;
}

.modal-content {
    background-color: #F4F1DE;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card {
    flex: 1 1 22rem;
    max-width: 22rem;
    background-color: #F4F1DE;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card .card-img-top {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 20px;
}

.add-to-cart {
    background-color: #cc5147;
    color: #fffefe;
    border: none;
}

.add-to-cart:hover {
    background-color: #c8473c;
    color: #000;
}

/* SECCIÓN CONTACTO */
.textarea {
    height: 100px;
}

#successModal .modal-content {
    background-color: #d4eddae1;
    color: #26833c;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}

#successModal .modal-title {
    font-weight: bold;
    font-size: 1.5rem;
}

#successModal .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
}

#successModal .btn-close {
    color: #155724;
    position: absolute;
    right: 20px;
    top: 15px;
}

.banner-full-width {
    background-image: linear-gradient(rgb(255 255 255 / 35%), rgb(176 166 166 / 0%)), url(../img/productos/pickandpack-regalo.webp);
    background-size: cover;
    background-position: center;
    height: 330px;
    width: 100vw;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* SECCIÓN DETALLE DEL PRODUCTO */

.titulo-detalle {
    color: #cc5147;
    font-weight: bolder;
    font-family: "Merriweather";
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.detalle-producto-bg {
    background-image: linear-gradient(rgb(255 255 255 / 84%), rgb(176 166 166 / 57%)), url(../img/productos/bg-productos.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#productDetailContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.col-md-12.col-lg-10 {
    max-width: 1200px;
    /* Ancho máximo para pantallas grandes */
}

.product-detail-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 100%;
    /*para pantallas grandes */
    background-color: #F4F1DE;
}

.product-detail-left {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.product-info-container {
    align-self: flex-start;
    max-width: 90%;
    text-align: left;
    margin: auto;
}

/* Título y descripción */
.product-detail-left .card-title,
.product-detail-left .card-text {
    text-align: left;
}

.product-detail-left .card-title {
    font-size: 30px;
    color: #CC5147
}


/* Carrusel */
#productCarousel {
    margin-top: 15px;
}

.product-detail-card .carousel {
    width: 100%;
    max-width: 350px;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
}

.product-carousel-img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px
}

/* Ajuste de columnas en pantallas grandes */
@media (min-width: 768px) {
    .product-detail-card {
        flex-direction: row;
        max-width: 95%;
    }

    .product-detail-left,
    .product-detail-card-body {
        flex: 1;
        padding: 20px;
    }
}

@media (min-width: 1200px) {
    .product-detail-card {
        max-width: 100%;
    }
}

/* Espaciado en la columna de detalles adicionales */
.product-detail-card-body {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

/* color */
.color-option-container {
    display: flex;
    gap: 8px;
}

.color-option-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    display: inline-block;
    transition: border 0.2s ease;
}

.color-option-circle.selected {
    border-color: #000;
    border-width: 2px;
}

/* Financiación */
.financing-options i {
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.selected-icon {
    color: #CC5147;
}

.precio-caja {
    font-size: x-large;
}

/* FOOTER */

.bg-footer {
    background-color: #F4F1DE;
    bottom: 0;
    width: 100%;
    left: 0;
}


footer .bi-linkedin {
    color: #333;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

footer .bi-linkedin:hover {
    color: #000;
}

.profile-pic {
    width: 250px;
}

.redes-sociales-footer i {
    font-size: 1.5rem;
}


/* SECCIÓN LIBRE EVELYN */
.banner-eco{
    background-color: #D5FFD9;
}

.banner-eco img {
    max-height: 600px; 
    object-fit: contain;
    display: block;
    margin: 0 auto; 
}

.eco-titulo-detalle{
    color:#155724;
    font-weight: bolder;
    font-family: "Merriweather";
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Sección de Sustentabilidad */
.seccion-sustentabilidad {
    padding: 20px;
}

/* Estilos de las tarjetas de sustentabilidad */
.container-seccion-eco {
    margin-top: 65px; 
}


.tarjeta-sustentabilidad .card {
    text-align: left;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta-sustentabilidad .card-body {
    padding: 15px;
}

.tarjeta-sustentabilidad .card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.info-enlace {
    color: #28a745;
    font-weight: bold;
    text-decoration: none;
}

.info-enlace:hover {
    text-decoration: underline;
}

/* Alineación y espaciado */
.row-cols-md-2 > * {
    display: flex;
    justify-content: center;
}


.tarjeta-sustentabilidad .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Ajuste de espaciado */
.tarjeta-sustentabilidad {
    margin: 0 15px;
}

@media (min-width: 768px) {
    .tarjeta-sustentabilidad {
        margin: 0 10px;
    }
}


@media (max-width: 768px) {
    .container-seccion-eco {
        margin-left: 55px; 
        margin-right: 55px;
    }
}


/* Estilos de slider */
.slider-container {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
    /* overflow: hidden; */
}

.slider {
    display: flex;
    width: 100%;
    margin: 0 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;}

.slide {
    flex: 0 0 auto;
    margin: 0;
    text-align: center;
}

.slider img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
}

.slider-imagenes .slide {
    flex: 0 0 auto;
    width: calc(100% / 4); /* Ajusta aquí para pantallas grandes */
    transition: transform 0.3s ease;
}

.slider-imagenes .slide-activo {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen activa */
}

.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    padding: 5px;
    padding: 0.5rem;
    z-index: 10;
}

.active-slide {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

@media (min-width: 1200px) {
    .slide {
        min-width: 25%; /* 4 slides en pantalla grande */
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .slide {
        min-width: 50%; /* 2 slides en pantalla mediana */
    }
}

@media (max-width: 767px) {
    .slide {
        min-width: 100%; /* 1 slide en pantalla pequeña */
    }
}


/* Centrar el carrusel completo en la página y definir el ancho máximo */
.carousel-section-eco{
    margin-top: 35px;
}

#multiItemCarousel {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/* Asegurar que cada tarjeta esté centrada en su contenedor */
.carousel-item .col-auto {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajustar el tamaño del contenedor de la tarjeta para que se adapte a la tarjeta */
.carousel-item .card {
    width: 100%;
    max-width: 300px;
    margin: auto;
    box-sizing: border-box;
}

/* Espaciado entre tarjetas */
.carousel-item .row {
    gap: 20px;
}

/* Fondo personalizado para las tarjetas */
.custom-card-bg {
    background-color: #D5FFD9;
}

/* Personalización de los controles del carrusel */
.custom-carousel-control .carousel-control-prev-icon,
.custom-carousel-control .carousel-control-next-icon {
    filter: invert(0.8);
}

/* Tamaño de tarjetas más grandes en pantallas grandes */
@media (min-width: 1200px) {
    .carousel-item .card {
        max-width: 450px; /* Aumenta el tamaño de las tarjetas en pantallas grandes */
    }
}

/* Seccion ECO-SOSTENIBLE */

.text-container {
    max-width: 1000px; /* Ajusta el ancho máximo según prefieras */
    margin: 0 auto;
    padding: 0 25px; /* Añade algo de espacio a los lados en dispositivos móviles */
}

.accordion-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.accordion-image {
    width: 100%;
    height: 250px; /* Ajusta la altura de acuerdo a tus necesidades */
    object-fit: cover; /* Recorta la imagen para llenar el espacio manteniendo el aspecto */
    margin-bottom: 10px;
}

.accordion-text {
    text-align: center;
    font-size: 1rem;
}


.modal-header h4{
        color: #155724;
}


/* Acordeón */
.accordion-section {
    margin-top: 20px;
}

.custom-accordion-item {
    border: none;
    background-color: #F4F1DE;
    border-radius: 8px;
}

.custom-accordion-item .accordion-button {
    background-color: #D5FFD9;
    color: #155724;
    font-weight: bold;
    border-radius: 8px;
}

.custom-accordion-item .accordion-button:not(.collapsed) {
    background-color: #D5FFD9;
    color: #155724;
}

.accordion-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F1DE;
}

.image-text-wrapper {
    text-align: center;
}

.image-text-wrapper img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    margin: 0 auto;
}

.image-text-wrapper p {
    margin-top: 15px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #333;
}

/* Estilo para la imagen con efecto parallax */
.parallax {
    opacity: 80%;
    background-image: url('../img/Seccion-libre/reciclable-pick&pack.webp'); 
    height: 300px; 
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
